*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;

}

.navbar{
    width:100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow:0 5px 10px 0px black ;
}

.navbar .logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 20px;
}

span{
    color:rgb(240, 149, 21);


}

.nav ul li {
    height: 60px;
    padding:0 15px;

}
.nav ul li{
    display: inline-block;
    height: 60px;
    padding-top:20px;
}

.nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.login a{
    font-weight: 900;
}

button{
    border: none;
    font-size: 20px;
    background-color: transparent;
}

 .nav ul li:hover{
    background-color: rgb(199, 195, 195);
    
    

}

.box{
    width: 100vw;
    height: 100vh;
}

.search{
    width:400px;
    position: relative;
    top: 40px;
    left:200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid chocolate;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px #736666;

}

.srch-h{
    padding-top: 25px;
    padding-right: 60px;
}

.search .searchbox{
    width:360px;
    padding: 10px 0;
    border: none;
    border-bottom:1px solid #a7a19f ;
    outline: none;
    font-size: 17px;
    
}
.search .searchbox:active{
    border-bottom:2px solid #128412 ;

}



.search .sea-btn{
    position: relative;
    left:95px;
    bottom: 12px;
    text-transform: uppercase;
    border:1px solid chocolate ;
    outline: none;
    padding: 10px 20px;
    font-size: 13px;
    transition:  2s width ease;
}

.search .sea-btn:hover{

    background-color: chocolate;
    color:white;
    font-weight: 900;

}
